*{
  box-sizing: border-box;
}
@font-face{
  font-family: 'Roboto';
  src: local('Roboto'), url(./fonts/Roboto-Regular.ttf) format('truetype');

}
.App {
  text-align: center;
}

.stepsCard{
 
  transition: all 0.5s;
    -webkit-transition: all 0.5s;
}